@import "tailwindcss";

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-gap: 10px;
}
